
body {
    background: url('../images/gaming-pattern.png') repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

nav {
    border-bottom: solid 4px #ccc;
}

footer {
    background: #666;
    border-top: 5px solid #4aaaa5;
    color:#ccc;
    font-size: 12px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 5px;
    margin-top: 35px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar-light .navbar-brand { 
    color:white;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 20px;
    color: white;
}
.navbar {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

h2{
    color:#4aaaa5;
    font-size: 30px;
}

h4 {
    position: absolute;
    background: #4aaaa5;
    color: white;
    top: 70%;
    text-align: center;
    width: 91.5%;
    left:5.5%;
    padding: 5px;
   } 

 